<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2 class="title">Dashboard</h2><br>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h3 class="panel-title">Metrics<span class="badge"></span></h3>
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-body">
                                        <mymetrics user_metrics={{ uMetric }}>
                                    </mymetrics>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
            </div>
        </div>

    </div>    
</div>