<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <h2 class="title">Topics</h2><br>
        <div class="container">
            <div class="row">
          
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="dummy"></div>
                <a href="#/browse" class="thumbnail purple">
                    <img ng-src="images/education.jpg" class="img-responsive img-browse">
                    <h2>Education</h2></a>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="dummy"></div>
                <a href="#" class="thumbnail purple">
                    <img ng-src="images/health.jpg" class="img-responsive img-browse">
                    <h2>Health</h2></a>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="dummy"></div>
                <a href="#" class="thumbnail purple">
                    <img ng-src="images/agriculture.jpg" class="img-responsive img-browse">
                    <h2>Agriculture</h2></a>
               </div>
               <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="dummy"></div>
                <a href="#" class="thumbnail purple">
                    <img ng-src="images/energy.jpg" class="img-responsive img-browse">
                    <h2>Energy</h2></a>
               </div>
               <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="dummy"></div>
                <a href="#" class="thumbnail purple">
                    <img ng-src="images/technology.jpg" class="img-responsive img-browse">
                    <h2>Technology</h2></a>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="dummy"></div>
                <a href="#" class="thumbnail purple">
                    <img ng-src="images/environment.jpg" class="img-responsive img-browse">
                    <h2>Environment</h2></a>
              </div>
              <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="dummy"></div>
                <a href="#" class="thumbnail purple">
                    <img ng-src="images/publicsafety.jpg" class="img-responsive img-browse">
                    <h2>Public Safety</h2></a>
               </div>
               <div class="col-md-3 col-sm-4 col-xs-6">
                <div class="dummy"></div>
                <a href="#" class="thumbnail purple">
                    <img ng-src="images/science.jpg" class="img-responsive img-browse">
                    <h2>Science & Research</h2></a>
               </div>
              
            </div>
        </div>
    </div>    
</div>
